:root{
  --cor-texto-link: #5A13B4;
  --cor-titulo:     #3B1270;
  --cor-destaque:   #8E35FF;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

a{
  color: var(--cor-texto-link);
  text-decoration: none;
  font-weight: 600;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
  background-color: #d9d0f0;
  color: #000;
}


.marginSite{
  margin: 2.5vw 10vw;
}

.flex{
  display: flex;
  align-items: center;
}


.logoTopo{
  width: 48px;
  height: 48px;
}

.containerMenuPrincipal{
  margin-left: 5vw;
  justify-content: space-between;
  width: 100%;
}

.containerLinks{
  gap: 2vw;
}

.containerCTA{
  gap: 1vw;
}

a{
  color: var(--cor-texto-link);
  text-decoration: none;
  font-weight: 600;
}

.btnCardapio{
  background-color: #6f5ba5;
  color: #ffffff;
  padding: 8px 16px;
  display: inline-block;
  font-weight: 600;
}

#inicio h1{
  color: var(--cor-titulo);
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 1vw;
}

.containerApresentacao{
  align-items: center;
  justify-content: space-between;
  gap: 3vw;
}

.textoApresentacao{
  max-width: 520px;
}

.textoApresentacao h2{
  color: var(--cor-titulo);
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 0.8vw;
  max-width: 950px;
}

.descricaoApresentacao{
  color: var(--cor-titulo);
  max-width: 460px;
  margin-bottom: 1.2vw;
}

.listaTopicos{
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1vw 3vw;
  max-width: 800px;
  margin-top: 1.5vw;
}

.listaTopicos .itemIcone{
  width: 30%;
  display: flex;
  align-items: center;
  gap: 0.6vw;
  margin-bottom: 0.8vw;
}

.itemIcone img{
  width: 18px;
  height: 18px;
  display: block;
}


.textoApresentacao .btnCardapio{
  margin-top: 1.2vw;
}


.imagemApresentacao img{
  width: 40vw;
  max-width: 520px;
  height: auto;
}