:root{
    --cor-texto-link: #5A13B4;
    --cor-titulo: #3B1270;
    --cor-texto-destaque: #8E35FF;

    --cor-buscar: #5913b470;

    --cor-fundo-escolha-curso: #3B1270;
    --cor-fundo-inscreva-se: #8E35FF;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

a{
    color: var(--cor-texto-link);
    text-decoration: none;
}

.marginSite{
    margin: 2.5vw 10vw;
}

.flex{
    display: flex;
    align-items: center;
}

/*Header*/
.containerMenuPrincipal{
    margin-left: 5vw;
    justify-content: space-between;
    width: 100%;
}

.containerBlogGrad, .containerBuscarAmb{
    gap: 2vw;
}

.containerBuscar{
    border: 1px, solid, var(--cor-buscar);
    padding: 5px 15px;
    min-width: 220px;
    justify-content: space-between;
}

.containerBuscar input{
    border: none;
    color: var(--cor-titulo);
}

.containerBuscar input:focus{
    outline: none;
}

.containerBuscar input::placeholder{
    color: var(--cor-buscar);
}

.containerBuscar button{
    background-color: transparent;
    border: none;
    width: 15px;
    height: 15px;
}

.containerBuscar button img{
    width: 100%;
}

.containerBuscarAmb a{
    gap: 0.5vw;
}

@media screen and (max-width: 1068px){
    nav{
        flex-wrap: wrap;
    }
}

/*Fim Header*/

/*Apresentação (Titulo)*/
h1{
    color: var(--cor-titulo);
    font-weight: 400;
    font-size: 1.4rem;
}

.containerApresentacao{
    align-items: end;
    justify-content: space-between;
}

.containerApresentacao h2{
    color: var(--cor-titulo);
    font-weight: 400;
    font-size: 9rem;
    max-width: 950px;
}

.containerApresentacao img{
    min-width: 50px;
}

.containerApresentacao p{
    color: var(--cor-titulo);
    max-width: 236px;
}

@media screen and (max-width: 1068px){
    .containerApresentacao{
        flex-wrap: wrap;
    }

    .containerApresentacao h2{
        font-size: 5.2rem;
    }

    .containerApresentacao p{
        max-width: 275px;
    }
}
/*Apresentação titulo*/

/*Escolha seu curso*/

.corFundoCursos{
    background-color: var(--cor-fundo-escolha-curso);
}

.containerEscolhaCurso{
    gap: 2vw;
}

.personagemCurso{
    width: 40vw;
    height: auto;
}

.tituloEscolhaCurso{
    font-size: 3.5rem;
    color: white;
}

.containerNomeCurso{
    margin: 2vw 0;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1vw;
    min-width: 650px;
    justify-content: space-around;
}

.tipoCurso{
    color: white;
    font-size: 1.1rem;
}

.nomeCurso{
    color: white;
    font-size: 1.4rem;
}

.containerBtnEscolheCurso{
    gap: 1vw;
}

.btnEscolheCurso{
    background-color: transparent;
    border: none;
    width: 1.5vw;
}

.btnEscolheCurso img{
    width: 100%;
}

.tituloSoftSkills{
    color: white;
    font-size: 2rem;
}

.containerSoftSkills{
    margin: 3vw 0;
    justify-content: space-between;
}

.nomeSoftSkills{
    color: white;
    font-size: 1.5rem;
}

.pontoSoftSkill{
    gap: 0.2vw;
}

.pontoSoftSkill img{
    width: 1.3vw;
}

.marginSoftSkill{
    margin: 1vw 0;
}

@media screen and (max-width: 1068px){
    .containerEscolhaCurso{
        flex-wrap: wrap;
    }
}

/*Escolha seu curso*/

/*Responsividade Mobile*/
@media screen and (max-width: 767px){
    .marginSite{
        margin: 10vw 5vw;
    }

    /*Cabeçalho*/
    .containerMenuPrincipal{
        flex-wrap: wrap;
    }
    /*Fim Cabeçalho*/

    /*Apresentação*/
    .containerApresentacao h2{
        font-size: 2.3rem;
    }
    /*Fim Apresentação*/

    /*Escolha seu Curso*/
    .personagemCurso{
        display: none;
    }

    .containerEscolhaCurso div{
        flex-wrap: wrap;
    }

    .containerNomeCurso{
        min-width: 0;
    }

    .btnEscolheCurso{
        width: 10vw;
    }

    .pontoSoftSkill img{
        width: 5vw;
    }
    /*Fim Escolha seu Curso*/

}
/*Fim Responsividade Mobile*/